
# /
/*.suo
/MDM.5.0.ReSharper.user
/*.user

# /Build/
/Build/Builds
/Build/WebServiceBuild

# /Build/Database/

# /Code/
/Code/Admin.NavigationModule
/Code/_ReSharper.MDM
/Code/_ReSharper.MDM.Admin
/Code/_ReSharper.MDM.Loader
/Code/MDM.sln.docstates.suo
/Code/MDM.sln.DotSettings.user
/Code/MDM.suo
/Code/*.suo
/Code/TestResults

# /Code/Data.EF/
/Code/Data.EF/bin
/Code/Data.EF/obj

# /Code/MDM.Data.EF.Nexus/
/Code/MDM.Data.EF.Nexus/bin
/Code/MDM.Data.EF.Nexus/obj

# /Code/IntegrationTest/
/Code/IntegrationTest/[Bb]in
/Code/IntegrationTest/obj
/Code/IntegrationTest/[Dd]ebug
/Code/IntegrationTest/[Rr]elease
/Code/IntegrationTest/*.user
/Code/IntegrationTest/*.aps
/Code/IntegrationTest/*.eto
/Code/IntegrationTest/TempApp.config

# /Code/MDM.IntegrationTest.Nexus/
/Code/MDM.IntegrationTest.Nexus/[Bb]in
/Code/MDM.IntegrationTest.Nexus/obj
/Code/MDM.IntegrationTest.Nexus/[Dd]ebug
/Code/MDM.IntegrationTest.Nexus/[Rr]elease
/Code/MDM.IntegrationTest.Nexus/*.user
/Code/MDM.IntegrationTest.Nexus/*.aps
/Code/MDM.IntegrationTest.Nexus/*.eto
/Code/MDM.IntegrationTest.Nexus/TempApp.config

# /Code/IntegrationTest/SelfHost/
/Code/IntegrationTest/SelfHost/[Bb]in
/Code/IntegrationTest/SelfHost/obj
/Code/IntegrationTest/SelfHost/[Dd]ebug
/Code/IntegrationTest/SelfHost/[Rr]elease
/Code/IntegrationTest/SelfHost/*.user
/Code/IntegrationTest/SelfHost/*.aps
/Code/IntegrationTest/SelfHost/*.eto

# /Code/MDM.CodeGeneration/
/Code/MDM.CodeGeneration/*.aps
/Code/MDM.CodeGeneration/*.eto
/Code/MDM.CodeGeneration/*.user
/Code/MDM.CodeGeneration/Database
/Code/MDM.CodeGeneration/[Bb]in
/Code/MDM.CodeGeneration/[Dd]ebug
/Code/MDM.CodeGeneration/[Rr]elease
/Code/MDM.CodeGeneration/obj

# /Code/MDM.CodeGeneration/_ReferenceData/

# /Code/MDM.Core/
/Code/MDM.Core/[Bb]in
/Code/MDM.Core/obj
/Code/MDM.Core/[Dd]ebug
/Code/MDM.Core/[Rr]elease
/Code/MDM.Core/*.user
/Code/MDM.Core/*.aps
/Code/MDM.Core/*.eto

# /Code/MDM.Core.Nexus/
/Code/MDM.Core.Nexus/[Bb]in
/Code/MDM.Core.Nexus/obj
/Code/MDM.Core.Nexus/[Dd]ebug
/Code/MDM.Core.Nexus/[Rr]elease
/Code/MDM.Core.Nexus/*.user
/Code/MDM.Core.Nexus/*.aps
/Code/MDM.Core.Nexus/*.eto

# /Code/MDM.Service.Unity/
/Code/MDM.Service.Unity/[Bb]in
/Code/MDM.Service.Unity/obj
/Code/MDM.Service.Unity/[Dd]ebug
/Code/MDM.Service.Unity/[Rr]elease
/Code/MDM.Service.Unity/*.user
/Code/MDM.Service.Unity/*.aps
/Code/MDM.Service.Unity/*.eto
/Code/MDM.Service.Unity/ClientBin
/Code/MDM.Service.Unity/GeneratedArtifacts
/Code/MDM.Service.Unity/_Pvt_Extensions

# /Code/MDM.ServiceHost.Wcf/
/Code/MDM.ServiceHost.Wcf/[Bb]in
/Code/MDM.ServiceHost.Wcf/obj
/Code/MDM.ServiceHost.Wcf/[Dd]ebug
/Code/MDM.ServiceHost.Wcf/[Rr]elease
/Code/MDM.ServiceHost.Wcf/*.user
/Code/MDM.ServiceHost.Wcf/*.aps
/Code/MDM.ServiceHost.Wcf/*.eto
/Code/MDM.ServiceHost.Wcf/TempWeb.config
/Code/MDM.ServiceHost.Wcf/*.log
/Code/MDM.ServiceHost.Wcf/*.svclog

# /Code/MDM.ServiceHost.WebApi/
/Code/MDM.ServiceHost.WebApi/[Bb]in
/Code/MDM.ServiceHost.WebApi/obj
/Code/MDM.ServiceHost.WebApi/[Dd]ebug
/Code/MDM.ServiceHost.WebApi/[Rr]elease
/Code/MDM.ServiceHost.WebApi/*.user
/Code/MDM.ServiceHost.WebApi/*.aps
/Code/MDM.ServiceHost.WebApi/*.eto
/Code/MDM.ServiceHost.WebApi/TempWeb.config
/Code/MDM.ServiceHost.WebApi/*.log
/Code/MDM.ServiceHost.WebApi/*.svclog

# /Code/MDM.ServiceHost.Unity.Nexus/
/Code/MDM.ServiceHost.Unity.Nexus/[Bb]in
/Code/MDM.ServiceHost.Unity.Nexus/obj
/Code/MDM.ServiceHost.Unity.Nexus/[Dd]ebug
/Code/MDM.ServiceHost.Unity.Nexus/[Rr]elease
/Code/MDM.ServiceHost.Unity.Nexus/*.user
/Code/MDM.ServiceHost.Unity.Nexus/*.aps
/Code/MDM.ServiceHost.Unity.Nexus/*.eto
/Code/MDM.ServiceHost.Unity.Nexus/TempWeb.config
/Code/MDM.ServiceHost.Unity.Nexus/*.log
/Code/MDM.ServiceHost.Unity.Nexus/*.svclog

# /Code/MDM.ServiceHost.Wcf.Nexus/
/Code/MDM.ServiceHost.Wcf.Nexus/[Bb]in
/Code/MDM.ServiceHost.Wcf.Nexus/obj
/Code/MDM.ServiceHost.Wcf.Nexus/[Dd]ebug
/Code/MDM.ServiceHost.Wcf.Nexus/[Rr]elease
/Code/MDM.ServiceHost.Wcf.Nexus/*.user
/Code/MDM.ServiceHost.Wcf.Nexus/*.aps
/Code/MDM.ServiceHost.Wcf.Nexus/*.eto
/Code/MDM.ServiceHost.Wcf.Nexus/TempWeb.config
/Code/MDM.ServiceHost.Wcf.Nexus/*.log
/Code/MDM.ServiceHost.Wcf.Nexus/*.svclog

# /Code/MDM.ServiceHost.WebApi.Nexus/
/Code/MDM.ServiceHost.WebApi.Nexus/[Bb]in
/Code/MDM.ServiceHost.WebApi.Nexus/obj
/Code/MDM.ServiceHost.WebApi.Nexus/[Dd]ebug
/Code/MDM.ServiceHost.WebApi.Nexus/[Rr]elease
/Code/MDM.ServiceHost.WebApi.Nexus/*.user
/Code/MDM.ServiceHost.WebApi.Nexus/*.aps
/Code/MDM.ServiceHost.WebApi.Nexus/*.eto
/Code/MDM.ServiceHost.WebApi.Nexus/TempWeb.config
/Code/MDM.ServiceHost.WebApi.Nexus/*.log
/Code/MDM.ServiceHost.WebApi.Nexus/*.svclog

# /Code/UnitTest/
/Code/UnitTest/[Bb]in
/Code/UnitTest/obj
/Code/UnitTest/[Dd]ebug
/Code/UnitTest/[Rr]elease
/Code/UnitTest/*.user
/Code/UnitTest/*.aps
/Code/UnitTest/*.eto
/Code/UnitTest/TempApp.config

# /Code/MDM.UnitTest.Nexus/
/Code/MDM.UnitTest.Nexus/[Bb]in
/Code/MDM.UnitTest.Nexus/obj
/Code/MDM.UnitTest.Nexus/[Dd]ebug
/Code/MDM.UnitTest.Nexus/[Rr]elease
/Code/MDM.UnitTest.Nexus/*.user
/Code/MDM.UnitTest.Nexus/*.aps
/Code/MDM.UnitTest.Nexus/*.eto
/Code/MDM.UnitTest.Nexus/TempApp.config

# /Code/packages/
/Code/packages/*

# /Libs/

# /Libs/SharpTestsEx/

# /Libs/SqlServer/
