<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="profile.db" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="MappingContext" providerName="System.Data.SqlClient" connectionString="Server=S987A0306\D01SQL06;Database=MDM_Test;User ID=MdMService;Password=wSY6MEFWf(U" />
    <!--<add name="MappingContext" 
                    providerName="System.Data.SqlClient"
                    connectionString="Server=localhost\sqlexpress2008_K;Database=MDM_WD;Integrated Security=True"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>