<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataCacheClient"
         type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
         allowLocation="true"
         allowDefinition="Everywhere"/>
  </configSections>
  <connectionStrings>
    <add name="MappingContext" providerName="System.Data.SqlClient" connectionString="Server=(local)\SQLExpress;Database=MDM;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="profile.db" value="false" />
    <!--<add key="Mdm.ContentType" value="application/vnd.rwest.nexus+xml"/>-->
    <add key="Mdm.ContentType" value="application/xml" />
    <add key="UseDistributedCache" value="false"/>
    <add key="DistributedCacheName" value="NexusMdmSearchCache"/>
    <add key="CacheItemPolicy.Expiration.NexusMdmSearchCache" value="300"/>
  </appSettings>
  <dataCacheClient>
      <hosts>
      </hosts>
   </dataCacheClient>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- NB This is breaking ETag support no matter what value we put here -->
          <!-- Can break out a different cache policy per-entity if some are more volatile, or implement cache channels -->
          <add name="MdmEntityCache" duration="60" location="ServerAndClient" varyByParam="none" />
          <add name="MdmMappingCache" duration="60" location="ServerAndClient" varyByParam="source-system;target-system;mapping-string;as-of" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" maxBufferSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
                Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
                via the attributes on the <standardEndpoint> element below
                -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="MdmServiceWCFTraceLog.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="MDMServiceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="MDMService.log" formatter="TextFormatter" rollInterval="Day" rollFileExistsBehavior="Increment" rollSizeKB="10000" maxArchivedFiles="50" timeStampPattern="dd-MM-yyyy" traceOutputOptions="DateTime, Timestamp" />
      <add name="EmailTraceListener" type="EnergyTrading.Logging.EnterpriseLibrary.CachedEmailTraceListener, EnergyTrading.EnterpriseLibrary" listenerDataType="EnergyTrading.Logging.EnterpriseLibrary.CachedEmailTraceListenerData, EnergyTrading.EnterpriseLibrary" subjectLineStarter="MDM Service - Mike" formatter="EmailFormatter" toAddress="mike.borg@rwe.com" fromAddress="MDM.service@rwe.com" smtpServer="bridgehead.npower.com" emailCacheDuration="1.0" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(yyyy-MM-dd HH:mm:ss.fffffff)} {localMachine} ({severity}): {dictionary({key} - {value}; )}{message}" name="TextFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(dd/MM/yyyy HH:mm:ss.fffffff)}{newline}&#xA;Severity: {severity}{newline}&#xA;{dictionary({key} : {value}{newline}&#xA;)}Message: {message}{newline}&#xA;Message generated by MDM service on server - {localMachine}." name="EmailFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="Error" name="General">
        <listeners>
          <add name="EmailTraceListener" />
          <add name="MDMServiceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="MDMServiceListener" />
        </listeners>
      </allEvents>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="MDMServiceListener" />
        </listeners>
      </errors>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="MDMServiceListener" />
        </listeners>
      </notProcessed>
    </specialSources>
  </loggingConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>