<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.1.1" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="EnergyTrading.Caching.AppFabric" version="2.7.28050.10" targetFramework="net40" />
  <package id="EnergyTrading.Contracts" version="2.8.0.9" targetFramework="net40" />
  <package id="EnergyTrading.Core" version="2.8.0.9" targetFramework="net40" />
  <package id="EnergyTrading.EnterpriseLibrary" version="2.7.28050.10" targetFramework="net40" />
  <package id="EnergyTrading.EntityFramework" version="2.7.28050.10" targetFramework="net40" />
  <package id="EnergyTrading.MDM.Contracts" version="3.2.0.4" targetFramework="net40" />
  <package id="EnergyTrading.Unity" version="2.7.28050.10" targetFramework="net40" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" allowedVersions="[5.0, 6.0)" targetFramework="net40" />
  <package id="EnterpriseLibrary.Logging" version="5.0.505.1" allowedVersions="[5.0, 6.0)" targetFramework="net40" />
  <package id="EntityFramework" version="4.1.10715.0" allowedVersions="[4.1.10715.0]" targetFramework="net40" />
  <package id="OpenNexus.MDM.Contracts" version="3.2.0.2" targetFramework="net40" />
  <package id="ServerAppFabric.Client" version="1.1.2106" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" allowedVersions="[2.1,3.0)" targetFramework="net40" />
  <package id="Unity.Interception" version="2.1.505.2" allowedVersions="[2.1,3.0)" targetFramework="net40" />
</packages>