<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- localhost -->
    <add name="MappingContext" providerName="System.Data.SqlClient" connectionString="Server=(local)\SQLExpress;Database=MDM;Integrated Security=True" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  </connectionStrings>
  <appSettings>
    <add key="UseDistributedCache" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="DistributedCacheName" value="NexusMdmSearchCache" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="CacheItemPolicy.Expiration.NexusMdmSearchCache" value="300" xdt:Locator="Condition(starts-with(@key,'CacheItemPolicy.Expiration.'))" xdt:Transform="Replace"/>
  </appSettings>
  <dataCacheClient>
    <hosts xdt:Transform="Replace">
    </hosts>
  </dataCacheClient>
  <loggingConfiguration>
    <listeners>
      <add name="EmailTraceListener" subjectLineStarter="MDM Service - Mike" toAddress="mike.borg@rwe.com" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(toAddress, subjectLineStarter)" />
    </listeners>
  </loggingConfiguration>

</configuration>