<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ include file="T4Toolbox.tt" #>
<#@ output extension="txt" #>
<#@ assembly name="System.Core.dll" #>
<#@ import namespace="System.Linq" #>
<#@ include file="../Generators/CodeGenerator.tt" #>
<#@ include file="Metadata.tt" #>
<#
	CodeGenerator codeGenerator = new CodeGenerator();
	codeGenerator.entities = entityNames.Select(x => x.Item1).ToList();
	codeGenerator.preserveFiles = false;

	codeGenerator.Run();
#>
