<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MappingContext" connectionString="Server=S060a9263\DSKD1S;Database=AdcSync_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MDM.AdcGateway.Properties.Settings.AdcSync_TestConnectionString"
            connectionString="Data Source=S060a9263\DSKD1S;Initial Catalog=AdcSync_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
