<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" allowedVersions="[1.0]" />
  <package id="EnergyTrading.Contracts" version="2.7.28050.10" targetFramework="net40" />
  <package id="EnergyTrading.Core" version="2.8.0.6" targetFramework="net40" />
  <package id="EnergyTrading.EntityFramework" version="2.7.28050.10" targetFramework="net40" />
  <package id="EnergyTrading.MDM.Contracts" version="3.1.28286.5" targetFramework="net40" />
  <package id="EnergyTrading.Test" version="2.7.28050.10" targetFramework="net40" />
  <package id="EnergyTrading.Unity" version="2.7.28050.10" targetFramework="net40" />
  <package id="EntityFramework" version="4.1.10715.0" allowedVersions="[4.1.10715.0]" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40" allowedVersions="[4.0.20710.0]" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" allowedVersions="[2.0.20710.0]" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" allowedVersions="[2.0,3.0)" targetFramework="net40" />
  <package id="XMLDiffPatch" version="1.0.8.28" targetFramework="net40" />
</packages>